<%list_product.forEach(function(p){%>
    <div class="single-products-catagory clearfix">
        <a href="/product?id=<%=p.ProductID%>">
        <img src="<%=p.Picture%>" alt="">
        
        <div class="hover-content">
        <div class="line"></div>
        <p>$<%=p.Price%></p>
        <h4><%=p.ProductName%></h4>
        </div>
        </a>
    </div>
<%})%>


